@charset "UTF-8";

/** 
*   -------------------------------------------------------
*     Title :  공통 CSS
*    Author :  jjlee
*      Date :  2024.04.09
*   -------------------------------------------------------
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}